<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <node name="hokuyo" pkg="urg_node" type="urg_node" >
        <param name="frame_id" value="base_link" />
       <param name="ip_address" value="192.168.1.20" />
        <remap from="scan" to="base_scan" />
        <param name="angle_min" value="-1.57"/>
        <param name="angle_max" value="1.57"/>
    </node>
</launch>
